.movie-container {
    display: flex;
    justify-content: center;
  }
  
  
  .movie-card {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  
  .movie-poster {
    width: 200px;
    height: 300px;
    object-fit: cover; 
  }
  
  
  .vote-button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .voted-message {
    color: #4caf50;
    font-weight: bold;
  }
  